
<div class="container">
  <h1>Welcome to Find Friends because you have no social skills</h1>
    <h4>What do you want to find?</h4>
    <center><a href="/registrations/signup">Sign Up Here</a></center>
    <br>
    <center>Already a member? <a href="/sessions/login"> Log in here.</a> </center>
</div>
