

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">UserName</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/subjects">Subjects</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="/sessions/logout">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <h1>Placeholder for erb name tag for user profile.</h1>

      <center>Explore things to do you loser <a href="/subjects"> subjects</a></center>

      <h3>Recommended Activities</h3>
  </div>
